# 01B Data Cleansing Traps

## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
%matplotlib inline

## Read Data

In [2]:
df = pd.read_csv('../west_nile/west_nile/input/train.csv')

## Read in codes_df and temperature_df

In [3]:
with open('../Cleansed_Data/codes_df.pkl', 'rb') as f:
    codes_df = pickle.load(f)

with open('../Cleansed_Data/temperature_df.pkl', 'rb') as f:
    temperature_df = pickle.load(f)

## Calculate Total Mosquitos Per Trap
- Fix this so we don't drop columns

In [4]:
# cols = [col for col in df.columns if col not in ['NumMosquitos', 'WnvPresent']]
# df = df.groupby(cols, as_index=False).sum()
# df['WnvPresent'] = (df.WnvPresent>0).astype(int)

## Join codes_df and temperature_df

In [5]:
df = df.join(temperature_df, on='Date')
df = df.join(codes_df, on='Date', rsuffix="_code_")

## Extract Month from Date

In [6]:
df['Month'] = df.Date.str[5:7]

## One-hot encoding

In [7]:
df = pd.get_dummies(df, columns=['Month', 'Species'])

## Drop Unnecessary Columns

In [8]:
cols_drop = ['Address','Block','Street','Trap','AddressNumberAndStreet','AddressAccuracy','Date']
df = df.drop(labels=cols_drop, axis=1)

## Split X and y Variables

In [9]:
target = 'WnvPresent'
X = df.drop(target, 1)
y = df[target]

## Export X and y Variables

In [10]:
with open('../Cleansed_Data/X.pkl','wb') as f:
    pickle.dump(X, f)
    
with open('../Cleansed_Data/y.pkl','wb') as f:
    pickle.dump(y, f)

In [11]:
X.head().T

,0,1,2,3,4
Latitude,41.954690,41.954690,41.994991,41.974089,41.974089
Longitude,-87.800991,-87.800991,-87.769279,-87.824812,-87.824812
NumMosquitos,1.000000,1.000000,1.000000,1.000000,4.000000
Tavg,75.500000,75.500000,75.500000,75.500000,75.500000
Tmax,88.000000,88.000000,88.000000,88.000000,88.000000
Tmin,62.500000,62.500000,62.500000,62.500000,62.500000
BR,1.000000,1.000000,1.000000,1.000000,1.000000
HZ,1.000000,1.000000,1.000000,1.000000,1.000000
RA,0.000000,0.000000,0.000000,0.000000,0.000000
TSRA,0.000000,0.000000,0.000000,0.000000,0.000000
VCTS,0.000000,0.000000,0.000000,0.000000,0.000000
FU,0.000000,0.000000,0.000000,0.000000,0.000000
TS,0.000000,0.000000,0.000000,0.000000,0.000000
DZ,0.000000,0.000000,0.000000,0.000000,0.000000
BCFG,0.000000,0.000000,0.000000,0.000000,0.000000
FG+,0.000000,0.000000,0.000000,0.000000,0.000000
MIFG,0.000000,0.000000,0.000000,0.000000,0.000000
FG,0.000000,0.000000,0.000000,0.000000,0.000000
SQ,0.000000,0.000000,0.000000,0.000000,0.000000
SN,0.000000,0.000000,0.000000,0.000000,0.000000
VCFG,0.000000,0.000000,0.000000,0.000000,0.000000
GR,0.000000,0.000000,0.000000,0.000000,0.000000
Month_05,1.000000,1.000000,1.000000,1.000000,1.000000
Month_06,0.000000,0.000000,0.000000,0.000000,0.000000
Month_07,0.000000,0.000000,0.000000,0.000000,0.000000
Month_08,0.000000,0.000000,0.000000,0.000000,0.000000
Month_09,0.000000,0.000000,0.000000,0.000000,0.000000
Month_10,0.000000,0.000000,0.000000,0.000000,0.000000
Species_CULEX ERRATICUS,0.000000,0.000000,0.000000,0.000000,0.000000
Species_CULEX PIPIENS,0.000000,0.000000,0.000000,0.000000,0.000000
Species_CULEX PIPIENS/RESTUANS,1.000000,0.000000,0.000000,1.000000,0.000000
Species_CULEX RESTUANS,0.000000,1.000000,1.000000,0.000000,1.000000
Species_CULEX SALINARIUS,0.000000,0.000000,0.000000,0.000000,0.000000
Species_CULEX TARSALIS,0.000000,0.000000,0.000000,0.000000,0.000000
Species_CULEX TERRITANS,0.000000,0.000000,0.000000,0.000000,0.000000